# Logs
**/*.log*

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
quickview-front/*.local

# data-fetcher
frontend/public/data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
